#part canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
.insideBox {
  height: 300px;
  border-radius: 0.5rem;
  place-content: center;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  width: 30%;
  /* gap: 50px; */
  /* display: grid; */
  /* box-sizing: border-box; */
  
}
.iB1 {
  background-color: #010602;
  opacity: 0.8;
  background-image: linear-gradient(#172120 1px, transparent 1px),
    linear-gradient(to right, #172120 1px, #010602 1px);
  background-size: 20px 20px;
  
}
/* .iB2 {
  background-color: #000;
  opacity: 0.3;
  background-image: radial-gradient(#e6f0eb 0.45px, transparent 0.45px),
    radial-gradient(#e6f0eb 0.45px, #000 0.45px);
  background-size: 18px 18px;
  background-position: 0 0, 9px 9px;
} */

.iB3 {
  background-color: #000000;
  opacity: 0.1;
  background-image: linear-gradient(45deg, #444cf7 50%, #e5e5f7 50%);
  background-size: 10px 10px;
}
/* .iB4 {
  background-color: #000301;
  opacity: 0.8;
  background-image: repeating-linear-gradient(
      45deg,
      #0b120c 25%,
      transparent 25%,
      transparent 75%,
      #0b120c 75%,
      #0b120c
    ),
    repeating-linear-gradient(
      45deg,
      #0b120c 25%,
      #000301 25%,
      #000301 75%,
      #0b120c 75%,
      #0b120c
    );
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
} */
.sect {
  width: 25%;
  height: 350px;
  place-content: center;
/* display: flex; */
  /* --hue-1: 210; */
  /* --hue-2: 238; */
  position: relative;
  /* justify-content: center; */
  /* color:white;
  text-align: center; */
  /* padding: 4rem 2rem 3rem; */
  /* align-items: center; */
  border: 2px solid transparent;
  /* background-color: #444cf7; */
  /* background: linear-gradient(black, black) padding-box,
    linear-gradient(
        135deg,
        rgb(4, 249, 208) 0%,
        black,
        black,
        rgb(0, 255, 119) 100%
      )
      border-box; */
      background: linear-gradient(135deg,rgba(48, 227, 170, 0.174),rgba(255,255,255,0));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1.5px solid rgba(255,255,255,0.18);
      box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37) ;
  border-radius: 1.25rem;
  overflow: hidden;
  padding: 5px;
}
.sect:hover{
  background: linear-gradient(black, black) padding-box,
  linear-gradient(
      135deg,
      rgb(4, 249, 208) 0%,
      black,
      black,
      rgb(0, 255, 119) 100%
    )
    border-box; 
}